/* ////////// BODY - HEADER - NAV /////////*/

body{

  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
    /* background-image: url("../Images/otrobackground.jpg"); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  
}

/* header{
} */

header p{
  font-size: 2cm;
  margin: 0%;
}

nav{
  font-size: 0.4cm;
  margin: 0%;
}

/* ////////// FONT COLORS ////////// */

/* Font Colors*/
h3{color: white;}
h4{color: white;}
h6{color: white;}
footer{color: white;}

/* Font Sizes */
h1{ font-size: 3.5em;}
h2{ font-size: 2.5em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
p{ color: white;}

/* Font Alignment */
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
h5 {text-align: center;}
h6 {text-align: center;}
p {text-align: center;}
ul{
  text-align: center;
}
/* div {text-align: center;} */

/* ////////////// MISC. ///////////// */

.grid-container {
  gap: 100px;
  display: grid ;
  row-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

form {
  text-align: center;
}

mark{
  background-color: white;
}

.hacer-cita{
  text-align: center;
}

/* #especial-de-tatuajes h2{
} */

/* ////////// BUTTONS////////// */

/* Button */
button{
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: black;
  background-color: orangered;
  animation: glowing 1300ms infinite;
}
button:hover{
  background-color: rgb(177, 91, 82);
}

/* Button head */
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  /* text-decoration: underline; */
}
a:active {
  color: white;
  background-color: transparent;
  /* text-decoration: underline; */
}

/* ////////// Nuestros Estilo ////////// */

/* Nuestros Estilos */
.color-acento{ color: white;
}
#nuestros-estilos h3{
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 100%;
  margin: 10px;
}

/* #nuestros-estilos .container{
  max-width: 1400px;
  margin: 10px;
  text-align: center;
} */

/* //////////////MORE///////////////// */















