body{
  background-image: url("../Images/background_wallpaper.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  max-width: 1400px;
  margin: auto;
}

.grid-container {
  gap: 100px;
  display: grid ;
  row-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

/* Font Colors*/
h1{color: black;}
h2{color: black;}
h3{color: black;}
h4{color: black;}
h5{color: black;}
h6{color: black;}
p{color: black;}
footer{color: black;}
ul{color: black;}

/* Font Sizes */
h1{ font-size: 3.5em;}
h2{ font-size: 2.5em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
h5 {text-align: center;}
h6 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

button{
  font-size: 1em;
  font-weight: lighter;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: black;
  background-color: salmon;
  animation: glowing 1300ms infinite;
}

button1 {
  color: white;
}

button:hover{
  background-color: rgb(177, 91, 82);
}

/* Blinking */
/* @keyframes glowing {
  0% {
    background-color: white;
    box-shadow: 0 0 5px black;
  }
  50% {
    background-color: white;
    box-shadow: 0 0 20px red;
  }
  100% {
    background-color: white;
    box-shadow: 0 0 5px black;
  }
} */

/* Button head */
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blueviolet;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  /* text-decoration: underline; */
}
a:active {
  color: white;
  background-color: transparent;
  /* text-decoration: underline; */
}

/* header { } */

/* nav{ } */